.btnadd{
    background-color: aqua;
    border-radius: 5px;
}
.btnsub{
    background-color: lightgreen;
    border-radius: 5px;
}
.btnmul{
    background-color: yellowgreen;
    border-radius: 5px;
}
.btndiv{
    background-color: lightpink;
    border-radius: 5px;
}
button {
    margin-right: 20px;
   
    padding-right: 0.75em;
    margin-right: o.75px;
    padding-left: 0.75em;
    justify-content: center;
}
hr{
    height:2px;
    background-color:black;
}