<h2>Welcome to Angular Project !</h2>
<!-- <app-employee-one></app-employee-one>
<app-employee-two></app-employee-two>
<app-employee-three></app-employee-three>
<app-interpolation-binding></app-interpolation-binding>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-styles-binding></app-styles-binding> -->
<!-- <app-event-binding-assignment-four></app-event-binding-assignment-four> -->
<app-pre-defined-directives></app-pre-defined-directives>
